{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <p>{{ post.content }}</p>

                    {% if post.image %}
                        <a href="{{ post.image }}">
                            <img class="img-fluid" src="{{ post.image }}" alt="{{ post.caption }}" />
                        </a>
                    {% endif %}

                    {% if post.caption %}
                        <span class="caption text-muted">{{ post.caption }}</span>
                    {% endif %}

                    {% if post.extraContent %}
                        <div class="extra-content mt-4">
                            <p>{{ post.extraContent }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </article>

    <section class="mb-5">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h2 class="section-heading">Leave a Comment</h2>
                    <form id="commentForm" method="POST" action="/index.php?page=create_comment&post_id={{ post.id }}">
                        <div class="form-group mt-3">
                            <label for="content">Your Comment</label>
                            <textarea class="form-control" id="content" name="content" rows="5" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary mt-4">Submit</button>
                    </form>

                    <div class="comments mt-5">
                        <h3>Comments</h3>
                        {% for comment in comments %}
                            <div class="comment mt-4">
                                <h4>{{ comment.username }}</h4>
                                <span>{{ comment.date|date('F j, Y') }}</span>
                                <p>{{ comment.content }}</p>
                            </div>
                        {% else %}
                            <p>No comments yet.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}